@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

* {
  font-family: 'Signika Negative', sans-serif;
}

.slider-container {
  overflow: hidden;
  width: 100%;
  max-width: 100%; /* You can adjust this if needed */
}

/* CSS for the slider */
.slider {
  display: flex; /* Display items in a row */
  animation: slide 30s linear infinite; /* Animation for sliding */
}

.slider-reverse {
  display: flex; /* Display items in a row */
  animation: slideReverse 30s linear infinite; /* Animation for sliding */
}

/* Keyframes for sliding to the left */
@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Keyframes for sliding to the right */
@keyframes slideReverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Style for each slide item */
.slider-item {
  width: 20%; /* Adjust the width of each slide as needed */
  flex-shrink: 0; /* Prevent items from shrinking */
  text-align: center; /* Center the content */
  padding: 20px; /* Add spacing if needed */
}

.slider::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  content: "";
  z-index: 999;
  background: linear-gradient(rgba(20, 20, 20, 0.511), black);
}